<h1>This is a result page!</h1>
<ul>
    <% data.Search.forEach(Movie => { %>

        <li>
            <strong><%= Movie.Title%></strong> -
            <%= Movie.Year%>
        </li>
        <% });%>
</ul>

<a href="/">Search again</a>